body {
    font-family: "Roboto", sans-serif;
}
h1 {
    text-align: center;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 300px;
    height: 300px;
}

.controls {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
}

#btnPrevious,
#btnNext {
    font-size: large;
    padding: 10px 0px;
    width: 150px;
    background-color: black;
    border: 0px;
    color: white;
    cursor: pointer;
}

#btnPrevious:hover,
#btnNext:hover {
    background-color: rgb(135, 25, 25);
}

.hidden {
    display: none;
}
